$colors: ( 
    primaryAdmin: #32639e, 
    primaryMain: #C89F73, 
    secondaryAdmin: #32639e,
    secondaryMain: #32639E,
    btnPrimaryBgAdmin: #32639E,
    btnPrimaryColorAdmin: #FFFFFF,
    btnPrimaryBgMain: #C89F73,
    btnPrimaryColorMain: #FFFFFF,
    btnSecondaryBgAdmin: #EFEFFD,
    btnSecondaryColorAdmin: #32639E,
    btnSecondaryBgMain: #FFFFFF,
    btnSecondaryColorMain: #C89F73,
    bgAdmin: #EEEEEE, 
    bgMain: #E5E5E5,
    );
