@import './_functions.scss';

$theme-map-admin: ( 
    primaryColor: color(primaryAdmin), 
    secondaryColor: color(secondaryAdmin), 
    bgColor: color(bgAdmin),
    btnPrimaryColor: color(btnPrimaryColorAdmin),
    btnPrimaryBg: color(btnPrimaryBgAdmin),
    btnSecondaryColor: color(btnSecondaryColorAdmin),
    btnSecondaryBg: color(btnSecondaryBgAdmin),
);
